.home-container{
    width: 100%;
    max-width: 1180px;	
    padding: 0 30px;
    margin: 64px auto;
}
.home-container .img-container{
    max-width: 383px;
    max-height: 182px;
    transition: filter 200ms;
}
.home-container .img-container:hover{
    filter: brightness(50%);
}

.carrousel-container img{
	height: 25%;
}
