.produtores-container{
	width: 100%;
	max-width: 1200px;
	padding: 0 30px;
	margin: 64px auto;
}


.card-produtor{
	border-width: 2px!important;
	border-color: #000 !important;
	background-color: #fff !important;
	cursor: pointer;
	border-width: 2px !important;
	border-radius: 8px;
	box-shadow: 0px 0px 16px #000;
	text-align: center;
	min-height: 370px;
}

.card-produtor:hover{
	filter: brightness(60%) blur(0.5px);
}

.img-container {
	display: flex;
	position: relative;

}
.img-container span{
	transition-duration: 200ms;
}

.img-container span img{
	max-height: 200px;
	min-height: 180px;
}
.img-text{
	filter: opacity(0%);
	height: 40%;
	width: 100%;
	z-index: 1;
	position: absolute;
	bottom: 10%;
	text-align: center;
	align-content: center;
	color: #fff;
	transition-duration: 200ms;
}

a{
	text-decoration: none !important;
}
a:hover{
	filter: brightness(90%);
}

a :hover > p:first-of-type{
	filter: opacity(100%);

}
a :hover > span:first-of-type{
	filter: brightness(50%) blur(2px);

}
p{
	margin: 0;
}
.card-produtor  .card-body{
	padding: 0.25rem !important;
}


.modal-content{
	min-width: 40%!important;
}

.modal-header{
	display: flex;
	text-align: center!important;
	font-weight: 700 !important;
}

.modal-body{
	display: fl;
	align-items: center;
	align-content: center;
}

.modal-body img{
	align-self: center!important;
	width: 60%;
	height: 10%;
	margin: 10px auto;
}
.modal-body .profile{
	display: flex;
}
.modal-body .text{
	margin-left: 16px;
}