.containerCards{
  margin-top: 110px;
  max-width: 96vw;
}

.body .container {
  position: relative;
  margin-top: 110px;
}


@media(max-width: 900px){
  #image{
    display: none!important;
  }
  #texto {
    font-size: 10vw;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color:rgb(0,0,0);
  }
  #texsto{
    font-size:6vw;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color:rgb(0,0,0);
  }

}
@media(min-width: 900px){
  #image {
    height:auto;
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #texto {
    position: absolute;
    font-size: 100px;
    left: 250px;
    top: 135px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color:rgb(255,255,255);
  }
  #texsto{
   font-size:20px;
   left:200px;
   top:135px;
   font-family: Futura,Trebuchet MS,Arial,sans-serif;
   color:rgb(255,255,255);
 }
}