
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.card-tamanho {
    height: 400px;
    width: 100%;
    border-radius: 20px !important;    
}
.card-img-tamanho{
    height: 255px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.img-hover-zoom {
  overflow: hidden; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;    
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}
h5.card-title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.bg-button{
    background-color: #00e676;
}
.list-group-item-raio{
    border-radius: 20px;
}
.card-imagem{
    border-radius: 20px;
    height: 200px;
}
h1.nomecidade{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}
.carousel-caption{
  position: absolute;
  right: 15%;
  left: 15%;
  color: #fff;
  text-align: center;
  text-justify: 30px;
  align-content: top;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.form-control-buscar {
  display: block;
  width: 100%;
  height: calc(3.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  background-color: #28a745;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 0px solid #e9ecef;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  background-color: #f5f5f5;
  @include border-radius($border-radius);
}

.lds-ring {
  display: inline-block;
  position:relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  margin-top: 160px;
  border: 10px solid #28a745;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #28a745 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;    
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-posicao{
  position: fixed;
  right: 0;
  top: 95%;
  margin-top: -2.5em;
}
.tamanho{
    font-size: 100px;
}
.alerta{
    margin-top: 160px;
}


#myFooter {
    background-color: #28a745;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    background-color: #f5f5f5;
}
.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}