.city-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 40px auto;
}
.city-container .link-container{
    transition: filter 200ms;
}
.city-container .link-container:hover{
    filter: brightness(50%);
}

.carrousel-container img{
	height: 25%;
}
