.city-container{
	width: 100%;
	max-width: 1180px;
	padding: 0 30px;
	margin: 64px auto;
}
.city-container .img-container{
	transition: filter 200ms;
	border-width: 0;
}
.city-container .img-container a img{
	border-radius: 8px;
	width: 100%;
	height: 100%;
}	

.city-container .img-container:hover{
	filter: brightness(50%);
}

.card{
	background-color: #f4f4fb;
}
.col-lg-4{
	background-color: #f4f4fb;
}

.item{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.item:hover{
	color:#0056b3;
	box-shadow: 0px 0px 4px #000;
	filter: brightness(80%);
	z-index: 1;
}


.produtores-container{
	width: 100%;
	max-width: 1200px;
	padding: 0 30px;
	margin: 64px auto;
}

.card-produtor{
	border-width: 2px!important;
	border-color: #000 !important;
	background-color: #fff !important;
	cursor: pointer;
	border-width: 2px !important;
	border-radius: 8px;
	box-shadow: 1px 1px 4px #000;
	text-align: center;
	min-height: 370px;
}

.card-produtor:hover{
	filter: brightness(60%) blur(0.5px);
}

.img-container {
	display: flex;
	position: relative;

}
.img-container span{
	transition-duration: 200ms;
}

.img-container span img{
	max-height: 200px;
	min-height: 180px;
}
.img-text{
	filter: opacity(0%);
	height: 40%;
	width: 100%;
	z-index: 1;
	position: absolute;
	bottom: 10%;
	text-align: center;
	align-content: center;
	color: #fff;
	transition-duration: 200ms;
}

a{
	text-decoration: none !important;
}

p{
	margin: 0;
}
.card-produtor  .card-body{
	padding: 0.25rem !important;
}

.card-produtor .card-body p{
	min-height: 72px;
}

.modal-content{
	min-width: 40%!important;
}

.modal-header{
	display: flex;
	text-align: center!important;
	font-weight: 700 !important;
}

.modal-body{
	display: fl;
	align-items: center;
	align-content: center;
}

.modal-body img{
	align-self: center!important;
	width: 60%;
	height: 10%;
	margin: 10px auto;
}
.modal-body .profile{
	display: flex;
}
.modal-body .text{
	margin-left: 16px;
}