html{
    margin: -1 !important;
    padding:0 !important;
}
@media screen and (min-width:1026px){
    .barraLateral{
        position: fixed;
        top:0;
    }
}

.icon{
    color:dimgray; 
}
.card{
    border-radius: 0 !important;
}
.cardBody{
    height: 5rem; 
    padding:10px;
}
.col3{
    padding: 0 2px 0 8px;
}
.col3 .icon{
    width:50px; 
    height:50px;
}
.col9{
    margin: 0;
    padding: 0;
}
.col9 .nomeUser{
    color: dimgray;
    font-weight: 600;
    padding-top:6px;
    font-size:26px;
}
.list-group{
    padding: 0 4px;
}
.list-group .list-group-item{
    display: flex;
    flex-direction: row;
    padding: 4px;
    height: 2.75em;
    border: 0;
    cursor: pointer;
    transition-duration: 300ms;
}
.list-group .list-group-item:hover{
    filter: brightness(80%);
}
.list-group .list-group-item p{
    width: 130px;
    font-size: 22px;
    color: dimgray;
    margin: 0;
    margin-left: 1em;
}
.list-group .list-group-item .icon{
    color: #28a745;
    width: 30px !important;
    height: 25px !important;
    margin: 0.25em 0 0 0;

}

.responsiveContainer{
    background-color: #edededed; 
    padding: 0;
}

.loader{
    top: 0;
    background-color:#2f2f2fcc; 
    position:absolute !important; 
    width:100%;
    height: 100%;
    z-index:1060;
}
.navbarIcons{
    width: 24px !important;
    justify-content: center;
}
.active .icon{
    color: white !important;
}
.active p {
    color: white !important;
}